-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_alcaldia_silvia
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria` (
  `id_auditoria` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) DEFAULT NULL COMMENT 'Puede ser NULL si la acci├│n es un intento de login fallido',
  `accion` varchar(50) NOT NULL COMMENT 'INSERT, UPDATE, DELETE, LOGIN',
  `tabla_afectada` varchar(50) DEFAULT NULL,
  `registro_id` int(11) DEFAULT NULL,
  `detalles_previos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Estado de los datos antes del cambio' CHECK (json_valid(`detalles_previos`)),
  `detalles_nuevos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Estado de los datos despu├®s del cambio' CHECK (json_valid(`detalles_nuevos`)),
  `direccion_ip` varchar(45) NOT NULL,
  `fecha_hora` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_auditoria`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `auditoria_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratistas`
--

DROP TABLE IF EXISTS `contratistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contratistas` (
  `id_contratista` int(11) NOT NULL AUTO_INCREMENT,
  `tipo_persona` enum('Natural','Jur├¡dica') NOT NULL DEFAULT 'Natural',
  `tipo_documento` enum('CC','NIT','CE','Pasaporte') NOT NULL,
  `documento` varchar(50) NOT NULL,
  `digito_verificacion` varchar(2) DEFAULT NULL,
  `nombre_razon_social` varchar(255) NOT NULL,
  `genero` enum('Masculino','Femenino','Otro','No Aplica') NOT NULL COMMENT 'No Aplica para Personas Jur├¡dicas',
  `direccion` varchar(255) DEFAULT NULL,
  `telefono` varchar(50) DEFAULT NULL,
  `correo` varchar(150) DEFAULT NULL,
  `entidad_bancaria` varchar(100) DEFAULT NULL,
  `tipo_cuenta` enum('Ahorros','Corriente') DEFAULT NULL,
  `numero_cuenta` varchar(100) DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_contratista`),
  UNIQUE KEY `documento` (`documento`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratistas`
--

LOCK TABLES `contratistas` WRITE;
/*!40000 ALTER TABLE `contratistas` DISABLE KEYS */;
INSERT INTO `contratistas` VALUES (2,'Natural','CC','10722526','','GERMAN ROLANDO BURBANO CORREA','Masculino','Carrera 2 # 3-05 Barrio Las Delicias','3187785027','rolando.burbano@gmail.com','Banco de Bogot├í','Ahorros','1212324324234','2026-04-19 05:14:02'),(3,'Natural','CC','1064440931',NULL,'ANDRES CAMILO VIDAL RODRIGUEZ','Masculino','Calle 12 # 2-80 Silvia, Cauca','3147741394','apoyoinfrasilvia@gmail.com','Bancolombia','Ahorros','86879366757','2026-04-23 22:07:32');
/*!40000 ALTER TABLE `contratistas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratos`
--

DROP TABLE IF EXISTS `contratos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contratos` (
  `id_contrato` int(11) NOT NULL AUTO_INCREMENT,
  `numero_contrato` varchar(100) NOT NULL,
  `bpin` varchar(50) DEFAULT NULL,
  `linea_estrategica` varchar(255) DEFAULT NULL,
  `id_contratista` int(11) NOT NULL,
  `tipo_contrato` varchar(100) NOT NULL COMMENT 'Ej: Prestaci├│n de Servicios, Obra, Suministro',
  `modalidad_seleccion` varchar(100) NOT NULL COMMENT 'Ej: Contrataci├│n Directa, Licitaci├│n P├║blica',
  `fuente_recursos` varchar(150) NOT NULL COMMENT 'Ej: SGP, Recursos Propios, Regal├¡as',
  `valor_total` decimal(15,2) NOT NULL,
  `forma_pago` text DEFAULT NULL,
  `plazo_ejecucion` varchar(100) NOT NULL COMMENT 'Ej: 6 meses, 45 d├¡as',
  `plazo_ejecucion_real` varchar(100) DEFAULT NULL,
  `cdp` varchar(100) DEFAULT NULL,
  `fecha_cdp` date DEFAULT NULL,
  `valor_cdp` decimal(15,2) DEFAULT NULL,
  `rp` varchar(100) DEFAULT NULL,
  `valor_rp` decimal(15,2) DEFAULT NULL,
  `rubro_presupuestal` varchar(255) DEFAULT NULL,
  `objeto_contrato` text NOT NULL,
  `fecha_elaboracion` date NOT NULL,
  `fecha_firma` date DEFAULT NULL,
  `id_supervisor` int(11) NOT NULL,
  `secretaria` varchar(150) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_reinicio` date DEFAULT NULL,
  `tiene_cesion` tinyint(1) DEFAULT 0,
  `fecha_cesion` date DEFAULT NULL,
  `id_nuevo_contratista` int(11) DEFAULT NULL,
  `estado_contrato` enum('En Ejecuci├│n','Suspendido','Terminado','Liquidado') DEFAULT 'En Ejecuci├│n',
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  `tiene_prorroga` tinyint(1) DEFAULT 0,
  `numero_prorroga` int(11) DEFAULT 0,
  `tiempo_prorroga` varchar(50) DEFAULT NULL,
  `tiene_suspension` tinyint(1) DEFAULT 0,
  `numero_suspension` int(11) DEFAULT 0,
  `duracion_suspension` varchar(50) DEFAULT NULL,
  `tiene_reinicio` tinyint(1) DEFAULT 0,
  `numero_reinicio` int(11) DEFAULT 0,
  `fecha_terminacion` date DEFAULT NULL,
  `fecha_terminacion_real` date DEFAULT NULL,
  `fecha_liquidacion` date DEFAULT NULL,
  `estado` enum('Borrador','Activo','Suspendido','Terminado','Liquidado') DEFAULT 'Borrador',
  `link_secop` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_contrato`),
  UNIQUE KEY `numero_contrato` (`numero_contrato`),
  KEY `id_contratista` (`id_contratista`),
  KEY `id_supervisor` (`id_supervisor`),
  KEY `fk_contrato_nuevo_contratista` (`id_nuevo_contratista`),
  CONSTRAINT `contratos_ibfk_1` FOREIGN KEY (`id_contratista`) REFERENCES `contratistas` (`id_contratista`) ON UPDATE CASCADE,
  CONSTRAINT `contratos_ibfk_2` FOREIGN KEY (`id_supervisor`) REFERENCES `usuarios` (`id_usuario`) ON UPDATE CASCADE,
  CONSTRAINT `fk_contrato_nuevo_contratista` FOREIGN KEY (`id_nuevo_contratista`) REFERENCES `contratistas` (`id_contratista`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratos`
--

LOCK TABLES `contratos` WRITE;
/*!40000 ALTER TABLE `contratos` DISABLE KEYS */;
/*!40000 ALTER TABLE `contratos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `control_plataformas`
--

DROP TABLE IF EXISTS `control_plataformas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `control_plataformas` (
  `id_control` int(11) NOT NULL AUTO_INCREMENT,
  `id_contrato` int(11) NOT NULL,
  `estado_secop` enum('Pendiente','En Borrador','Publicado') DEFAULT 'Pendiente',
  `url_secop` varchar(255) DEFAULT NULL,
  `estado_sia_observa` enum('Pendiente','Cargado','Con Observaciones') DEFAULT 'Pendiente',
  `observaciones` text DEFAULT NULL,
  `ultima_actualizacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_control`),
  UNIQUE KEY `id_contrato` (`id_contrato`),
  CONSTRAINT `control_plataformas_ibfk_1` FOREIGN KEY (`id_contrato`) REFERENCES `contratos` (`id_contrato`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `control_plataformas`
--

LOCK TABLES `control_plataformas` WRITE;
/*!40000 ALTER TABLE `control_plataformas` DISABLE KEYS */;
INSERT INTO `control_plataformas` VALUES (1,2,'Publicado','','Cargado','','2026-04-19 05:37:48');
/*!40000 ALTER TABLE `control_plataformas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos` (
  `id_pago` int(11) NOT NULL AUTO_INCREMENT,
  `id_contrato` int(11) NOT NULL,
  `numero_acta` varchar(50) NOT NULL COMMENT 'Ej: Anticipo, Acta 1, Acta Final',
  `fecha_pago` date NOT NULL,
  `valor_pagado` decimal(15,2) NOT NULL,
  `observaciones` text DEFAULT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_pago`),
  KEY `id_contrato` (`id_contrato`),
  CONSTRAINT `pagos_ibfk_1` FOREIGN KEY (`id_contrato`) REFERENCES `contratos` (`id_contrato`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
INSERT INTO `pagos` VALUES (1,8,'Acta de Inicio 001','2026-05-24',500000.00,'Pago acta inicial','2026-05-25 04:08:48'),(2,9,'Acta parcial 01','2026-05-25',5000000.00,'Pago 01','2026-05-26 03:40:26');
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presupuesto`
--

DROP TABLE IF EXISTS `presupuesto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `presupuesto` (
  `id_presupuesto` int(11) NOT NULL AUTO_INCREMENT,
  `id_contrato` int(11) NOT NULL,
  `rubros_presupuestales` text NOT NULL,
  `valor_asignado` decimal(15,2) NOT NULL,
  `numero_pagos_proyectados` int(11) NOT NULL,
  `numero_pagos_realizados` int(11) DEFAULT 0,
  `saldo_pendiente` decimal(15,2) NOT NULL,
  `ultima_actualizacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_presupuesto`),
  UNIQUE KEY `id_contrato` (`id_contrato`),
  CONSTRAINT `presupuesto_ibfk_1` FOREIGN KEY (`id_contrato`) REFERENCES `contratos` (`id_contrato`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presupuesto`
--

LOCK TABLES `presupuesto` WRITE;
/*!40000 ALTER TABLE `presupuesto` DISABLE KEYS */;
INSERT INTO `presupuesto` VALUES (1,2,'2.3.2.2.09',20000000.00,6,2,12166666.67,'2026-06-23 03:20:32');
/*!40000 ALTER TABLE `presupuesto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id_rol` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_rol` varchar(50) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `nombre_rol` (`nombre_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrador Contractual','Acceso total'),(2,'Financiero / Presupuesto','Edici├│n financiera'),(3,'Consulta / Control Interno','Solo lectura'),(4,'Supervisor de Contrato','Edici├│n de novedades'),(5,'Radicaci├│n','Creaci├│n de contratos');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rubros_presupuestales`
--

DROP TABLE IF EXISTS `rubros_presupuestales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rubros_presupuestales` (
  `id_rubro` int(11) NOT NULL AUTO_INCREMENT,
  `id_contrato` int(11) NOT NULL,
  `rubro` varchar(255) NOT NULL,
  `vigencia` varchar(10) DEFAULT NULL,
  `origen_recurso` varchar(150) DEFAULT NULL,
  `tipo` varchar(100) DEFAULT NULL,
  `valor` decimal(15,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id_rubro`),
  KEY `id_contrato` (`id_contrato`),
  CONSTRAINT `rubros_presupuestales_ibfk_1` FOREIGN KEY (`id_contrato`) REFERENCES `contratos` (`id_contrato`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rubros_presupuestales`
--

LOCK TABLES `rubros_presupuestales` WRITE;
/*!40000 ALTER TABLE `rubros_presupuestales` DISABLE KEYS */;
/*!40000 ALTER TABLE `rubros_presupuestales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `id_rol` int(11) NOT NULL,
  `tipo_persona` enum('Natural','Jur├¡dica') NOT NULL DEFAULT 'Natural',
  `tipo_documento` enum('CC','NIT','CE') NOT NULL DEFAULT 'CC',
  `documento` varchar(50) NOT NULL,
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `tipo_vinculacion` enum('Carrera Administrativa','Libre Nombramiento','Provisionalidad','Contratista de Prestaci├│n de Servicios') NOT NULL,
  `secretaria` varchar(150) NOT NULL,
  `correo` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL COMMENT 'Hash generado con password_hash()',
  `estado` enum('Activo','Inactivo') DEFAULT 'Activo',
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `correo` (`correo`),
  UNIQUE KEY `documento` (`documento`),
  KEY `id_rol` (`id_rol`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-15 23:24:30
